name: CI - Crear cuentas

on:
  push:
    branches: [main, dev-pablo]
  pull_request:
    branches: [main, dev-pablo]

jobs:
  crear-cuentas:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Instalar dependencias backend
        run: npm install
      - name: Test crear cuentas
        run: npm test
